nav{
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.colorWhite{
    color: white;
}
.textClear{
    text-decoration:none;
}
.backgroundWhite{
    background: white ;
   
}
.fs28{
    font-size: 28px;
}
.btnColor{
    background-color: #E1E8ED;
}